{% extends "layout.html.j2" %}
{% block body %}

<h1>Welcome!</h1>

<p>Hello! You've found the "minimal flask examples" website. Click on any of the links below to view the appropriate example.</p>
<ol>
    <li><a href="/df">Render pandas DataFrame wholesale.</a></li>
    <li><a href="/dfcustom">Render pandas DataFrame row by row.</a></li>
    <li><a href="/bokehplot">Display an embedded Bokeh chart.</a></li>
</ol>
{% endblock %}
